*{padding:0;margin:0;}
html,body{font-size:18px;width:100%;height:100%;}
h2{padding:1em;}
h2 i{font-size:0.6em;}
.cntr{width:800px;margin:0 auto; text-align:center;}
.w300{width:300px;}
.dottedCells td{padding:0.2em 0 0.2em 1em;border-bottom:1px dotted #CCCCCC;margin:0;}
tr.userData td{cursor:pointer};
tr.userData td:nth-child(1){font-weight:bold;}
tr.userData td:nth-child(4n){text-align:right;}
thead td,td.tdTitle{font-size:0.8em;font-weight:bold;text-style:italic;}
.acticon{padding:0.2em;cursor:pointer;text-decoration:none;display:inline-block;position:relative;}
.fa-info-circle{color:#0099FF;}
.fa-pencil-square-o,.fa-plus-square,.fa-floppy-o{color:green;}
.fa-trash-o{color:red;}
.fa-times-circle-o{color:orange;}
.twoCells td{width: 120px; text-align:left; padding:0.2em 0.5em;}
.twoCells td:nth-child(1){text-align:right;}
.twoCells ul{list-style:none;font-size:0.7em}
.error{text-style:italic;color:red;}
.books .bookData td{color:grey;}
.books .bookData td.busyBook{color:#C0C0C0;}
.userForm td:first-child{padding:0.2em 1em;text-align:right;}
.userForm input, .userForm select{ border:1px solid grey;border-radius:0.2em;width:10em;}
td.actions{text-align:right;padding:1em 0!important;}
td.actions a{text-decoration:none;padding-left:0.5em;cursor:pointer;}